{% extends "base.html" %}

{% block title %}Registro Simple{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mx-auto" style="max-width: 400px;">
        
        <h2 class="display-6 text-white mb-1">Registro</h2>
        <p class="h6 text-secondary opacity-50 mb-4 pb-2 border-bottom border-secondary">
            Ingresa tus datos básicos
        </p>
        
        <form action="/registro" method="POST">
            
            <div class="mb-3">
                <label class="h6 text-secondary text-uppercase small opacity-75">User Name</label>
                <input type="text" class="form-control rounded-pill border-secondary-subtle bg-transparent text-white p-2" name="username" placeholder="usuario_ejma">
            </div>

            <div class="mb-3">
                <label class="h6 text-secondary text-uppercase small opacity-75">Gmail</label>
                <input type="email" class="form-control rounded-pill border-secondary-subtle bg-transparent text-white p-2" name="gmail" placeholder="correo@gmail.com">
            </div>

            <div class="mb-5">
                <label class="h6 text-secondary text-uppercase small opacity-75">Contraseña</label>
                <input type="password" class="form-control rounded-pill border-secondary-subtle bg-transparent text-white p-2" name="password">
            </div>

            <button type="submit" class="btn btn-outline-secondary rounded-pill w-100 py-2 h5 border-secondary text-white opacity-75">
                REGISTRARSE
            </button>
            
        </form>
    </div>
</div>
{% endblock %}